 
h1{
    color: lightgreen;
}

table{
    font-size: 14px;
}
th{
    padding: 5px;
}
.task-name{
    font-weight: bold;
    color: cadetblue;
}

.task-action{
    cursor: pointer;
    padding: 5px;
}