table {
  font-size: 14px;
}
th {
  padding: 5px;
}
.task-name {
  font-weight: bold;
  color: cadetblue;
}

.task-action {
  cursor: pointer;
  padding: 5px;
}
.task-completed {
  text-decoration: line-through;
  color: gray;
  font-weight: lighter;
}
.task-pending {
    font-weight: bold;
}
.empty-list {
  text-align: center;
}
.select-ref{
  border-radius: 5px;
  background: gray;
}
.form-table{
  max-width: 370px;
  margin: 0 auto;
  padding-top: 1rem;
}