#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}
 
.card {
  padding: 2rem;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: aliceblue;
}
 