#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}
 
.card {
  padding: 2rem;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: aliceblue;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.15s;
}
button:hover { 
  border: 3px solid #646cff;
}  
p{
  margin: 15px;
}  
label{
  margin: 1rem;
  display: inline-block;
  width: 80px;
}
.register{
  cursor: pointer;
  text-decoration: underline;
}
.account{
  font-size: 1rem;
}